<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>

</head>
<body>
    <h1>Welcome to gitPub</h1>
    <h3>Drinks</h3>
    <ul>
        <% for (const [index,drink] of drinks.entries()) 
            {%>
                <li>
                    
                    <%= drink.name[0].toUpperCase() + drink.name.slice(1)  %>
                    <a class="glyphicon glyphicon-glass" aria-hidden="true" href='/drinks/<%= index%>'></a>
             
                </li>
            <%} 
        %>
   </ul>
   <h3>Food</h3>
   <ul>
       <% for (const [index,fod] of food.entries()) 
           {%>
               <li>
                   <%= fod.name %>
                   <a class="glyphicon glyphicon-thumbs-up" aria-hidden="true" href='http://localhost:3000/drinks/<%= index + drinks.length%>'></a>
            
               </li>
           <%} 
       %>
  </ul>

</body>
</html>