<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="showbody">
    <h1>At foo bar</h1>

    <% if (pos < drinkLength) { %>
            <h2>Name: <%= drinks[pos].name%></h2>
            <h3>Price: $<%= drinks[pos].price%></h3>
            <a class="showa" href='/drinks'>Return to Menu</a>
            <br>
            <img class="showimg" src='<%= drinks[pos].image.replace("jpg","png")%>'>
        <%} else 
        {%>
            <h2>Name: <%= food[pos - drinkLength].name%></h2>
            <h3>Price: $<%= food[pos - drinkLength].price%></h3>
            <a class="showa" href='/drinks'>Return to Menu</a>
            <br>
            <img class="showimg" src='<%= food[pos - drinkLength].image.replace("jpg","png")%>'>
        <%}
    %>
</body>
</html>